In [1]:
import os
import numpy as np 
import pandas as pd 
from subprocess import check_output
import matplotlib.pyplot as plt

# Data Load

In [2]:
sub_path = "data/subs/blends/"
all_files = os.listdir(sub_path)
all_files

['4_best_median_stack_updated.csv',
 '5_best_median_stack.csv',
 '5_best_median_stack_updated.csv',
 '5_best_median_stack_updated2.csv',
 'different-models-for-types3.csv',
 'mpnn_multiple_checkpoints_updated.csv',
 'stack_mean.csv',
 'stack_median_best_4_submissions.csv',
 'stack_median_best_5_submissions.csv',
 'stack_median_best_single_models.csv',
 'stack_median_lgbm_mpnn_semgcn.csv',
 'stack_median_lgbm_mpnn_semgcn_updated.csv',
 'stack_median_only_mpnn_checkpoints.csv',
 'stack_median_updated_lgbm_mpnn.csv',
 'stack_median_with_mpnn.csv',
 'weighted_average_lgbm_semgcn_mpnn.csv']

In [14]:
best_sub = '4_best_median_stack_updated.csv'

In [16]:
best = pd.read_csv(os.path.join(sub_path, best_sub))

In [17]:
train = pd.read_csv('data/train.csv')
test = pd.read_csv('data/test.csv')

In [19]:
best.head()

        id  scalar_coupling_constant
0  4658147                 14.302076
1  4658148                177.908127
2  4658149                  4.285111
3  4658150                177.908127
4  4658151                 14.302076

In [20]:
test['scalar_coupling_constant'] = best['scalar_coupling_constant']

In [21]:
train_pseudo = pd.concat([train, test])

In [26]:
len(train_pseudo), len(train), len(test)

(7163689, 4658147, 2505542)

In [30]:
train_pseudo.reset_index(drop=True, inplace=True)

In [32]:
train_pseudo.to_csv('data/train_pseudo.csv', index=False)

In [35]:
train.head()

,id,molecule_name,atom_index_0,atom_index_1,type,scalar_coupling_constant
0,0,dsgdb9nsd_000001,1,0,1JHC,84.8076
1,1,dsgdb9nsd_000001,1,2,2JHH,-11.2570
2,2,dsgdb9nsd_000001,1,3,2JHH,-11.2548
3,3,dsgdb9nsd_000001,1,4,2JHH,-11.2543
4,4,dsgdb9nsd_000001,2,0,1JHC,84.8074

In [34]:
train_pseudo.head()

,id,molecule_name,atom_index_0,atom_index_1,type,scalar_coupling_constant
0,0,dsgdb9nsd_000001,1,0,1JHC,84.8076
1,1,dsgdb9nsd_000001,1,2,2JHH,-11.2570
2,2,dsgdb9nsd_000001,1,3,2JHH,-11.2548
3,3,dsgdb9nsd_000001,1,4,2JHH,-11.2543
4,4,dsgdb9nsd_000001,2,0,1JHC,84.8074