In [1]:
import os
import pandas as pd
import numpy as np
pd.set_option('display.max_columns', 500)

In [75]:
path = 'data/'

In [82]:
structure = pd.read_csv(path+'structures.csv')
yukawa = pd.read_csv(path+'external_data/structures_yukawa.csv')

In [83]:
df_structure = pd.concat([structure, yukawa], axis=1)

In [87]:
df_structure.head(10)

,molecule_name,atom_index,atom,x,y,z,dist_C_0,dist_C_1,dist_C_2,dist_C_3,dist_C_4,dist_F_0,dist_F_1,dist_F_2,dist_F_3,dist_F_4,dist_H_0,dist_H_1,dist_H_2,dist_H_3,dist_H_4,dist_N_0,dist_N_1,dist_N_2,dist_N_3,dist_N_4,dist_O_0,dist_O_1,dist_O_2,dist_O_3,dist_O_4
0,dsgdb9nsd_000001,0,C,-0.012698,1.085804,0.008001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.743646,0.743644,0.743635,0.743632,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,dsgdb9nsd_000001,1,H,0.002150,-0.006031,0.001976,1.614540,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.075901,0.075898,0.075896,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,dsgdb9nsd_000001,2,H,1.011731,1.463751,0.000277,1.614546,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.075901,0.075898,0.075896,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,dsgdb9nsd_000001,3,H,-0.540815,1.447527,-0.876644,1.614563,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.075898,0.075898,0.075896,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,dsgdb9nsd_000001,4,H,-0.523814,1.437933,0.906397,1.614558,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.075898,0.075898,0.075896,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,dsgdb9nsd_000002,0,N,-0.040426,1.024108,0.062564,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.931378,0.931370,0.931321,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,dsgdb9nsd_000002,1,H,0.017257,0.012545,-0.027377,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.083636,0.083607,NaN,NaN,NaN,1.958297,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,dsgdb9nsd_000002,2,H,0.915789,1.358745,-0.028758,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.083635,0.083607,NaN,NaN,NaN,1.958303,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,dsgdb9nsd_000002,3,H,-0.520278,1.343532,-0.775543,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.083608,0.083607,NaN,NaN,NaN,1.958219,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,dsgdb9nsd_000003,0,O,-0.034360,0.977540,0.007602,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.125324,1.125324,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [88]:
df_structure[df_structure.molecule_name=='dsgdb9nsd_000002']

,molecule_name,atom_index,atom,x,y,z,dist_C_0,dist_C_1,dist_C_2,dist_C_3,dist_C_4,dist_F_0,dist_F_1,dist_F_2,dist_F_3,dist_F_4,dist_H_0,dist_H_1,dist_H_2,dist_H_3,dist_H_4,dist_N_0,dist_N_1,dist_N_2,dist_N_3,dist_N_4,dist_O_0,dist_O_1,dist_O_2,dist_O_3,dist_O_4
5,dsgdb9nsd_000002,0,N,-0.040426,1.024108,0.062564,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.931378,0.931370,0.931321,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,dsgdb9nsd_000002,1,H,0.017257,0.012545,-0.027377,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.083636,0.083607,NaN,NaN,NaN,1.958297,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,dsgdb9nsd_000002,2,H,0.915789,1.358745,-0.028758,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.083635,0.083607,NaN,NaN,NaN,1.958303,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,dsgdb9nsd_000002,3,H,-0.520278,1.343532,-0.775543,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.083608,0.083607,NaN,NaN,NaN,1.958219,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [81]:
struct.columns

Index(['dist_C_0', 'dist_C_1', 'dist_C_2', 'dist_C_3', 'dist_C_4', 'dist_F_0',
       'dist_F_1', 'dist_F_2', 'dist_F_3', 'dist_F_4', 'dist_H_0', 'dist_H_1',
       'dist_H_2', 'dist_H_3', 'dist_H_4', 'dist_N_0', 'dist_N_1', 'dist_N_2',
       'dist_N_3', 'dist_N_4', 'dist_O_0', 'dist_O_1', 'dist_O_2', 'dist_O_3',
       'dist_O_4'],
      dtype='object')